* {
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$default-font-color: black;
$default-background-color: white;

$header-height: 60px;


body {
  margin: 0;
  font-family: 'Noto Sans Japanese', sans-serif;
  /* font-weight: (100,300,400,500,700,900) */
}

a {
  text-decoration: none;

  &:visited, :active{
    color: inherit;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: $header-height;
  
  text-align: center;

  .headers{
    display: table;
    
    background-color: $default-font-color;
    width: 25%;
    height: 100%;

    float: left;

    a {
      font-weight: 500;
      color: gray;
      
      height: 100%;
      line-height: 100%;
      display: table-cell;
      vertical-align: middle;
      
      transition: all 0.3s;
      transition-timing-function: ease-out;

      &:hover {
        background-color: white;
      }
    }
  }
  
  .activity {
    background-color: white;
  }
  
}

body {
  padding-top: $header-height;
}


main {
  position: relative;
  margin: 0 auto;
}

.accordion-item{
  padding: 10px;
  border: black solid 2px;
  border-radius: 1px;
  margin: 20px;
}


.accordion-body {
  /*展開本文*/
  color: $default-font-color;
  background-color: $default-background-color;
  font-weight: 400;

  a {
    color: #0044CC;
  }

}

.accordion-button {

  font-size: 36px;
  
  .title-co {
    width: 100%;
    line-height: 100%;

    h2 {
      margin-top: 8px;
      float: left;
      line-height: 100%;
    }

    p {
      font-size: 18px;
      padding-left: 50%;
      line-height: 110%;

      .thinner {
        font-weight: 400;
      }
    }
  }

  
  &:enabled{
    /*表題*/
    color: $default-font-color;
    background-color: $default-background-color;
    font-weight: 700;

  }
}





@media all and (max-width: 1000px) {
  .accordion-button{
    .title-co {
      h2{
        width: 100%;
        clear: left;
      }
  
      p{
        padding-left: 5%;
      }
    }
  }
}

@media all and (max-width: 750px) {

}

@media all and (max-width: 670px) {

}
