* {
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$default-font-color: black;
$default-background-color: white;
$mobile-font-size: 50px;

$header-height: 60px;


body {
  margin: 0;
  font-family: 'Noto Sans Japanese', sans-serif;
  /* font-weight: (100,300,400,500,700,900) */
}

a {
  text-decoration: none;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: $header-height;
  
  text-align: center;

  .headers{
    display: table;
    
    background-color: $default-font-color;
    width: 25%;
    height: 100%;

    float: left;

    a {
      font-weight: 500;
      color: gray;
      
      height: 100%;
      line-height: 100%;
      display: table-cell;
      vertical-align: middle;
      
      transition: all 0.3s;
      transition-timing-function: ease-out;

      &:hover {
        background-color: white;
      }
    }
  }
  
  .belonging {
    background-color: white;
  }
  
}

body {
  padding-top: $header-height;
}


.main {
  position: relative;
  margin: 0 auto;
  

  .belonging-container {
    margin: 10px 40px 20px 40px;
    background-color: #f6f6f6;
    padding: 20px 40px;

    .title {
      font-size: 50px;

      margin: 0px;
      padding-bottom: 10px;
    }
  }
}





 
@media all and (max-width: 1000px) {
}

@media all and (max-width: 750px) {
}

@media all and (max-width: 500px) {

}
