* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 750px) {

}

@media all and (max-width: 670px) {

}
